
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### VS Code ###
.vscode/
micro-service-cloud-api/target/*
micro-service-cloud-provider-dept-7001/target/*
micro-service-cloud-provider-dept-7002/target/*
micro-service-cloud-provider-dept-7003/target/*
micro-service-cloud-provider-dept-8001/target/*
### build ###
**/target/*